---
import {
  NAVIGATION_LINKS,
  SOCIAL_LINKS,
  OTHER_LINKS,
  SCOPE_LINKS,
  COMPANY_DATA
} from "@/lib/config";
import Icon from "../bases/icon.astro";
import CircleArrowUp from "@/assets/svgs/circle-arrow-up.astro";
import Whatsapp from "@/assets/svgs/whatsapp.astro";
import Mail from "@/assets/svgs/mail.astro";
import Location from "@/assets/svgs/location.astro";
import { SITE } from "@/lib/config";
---

<footer
  class="w-full relative bg-white dark:bg-black dark:border-primary-content/20 pt-[64px]"
>
  <button
    onclick="window.scrollTo({ top: 0, behavior: 'smooth' })"
    class="w-full h-12 flex justify-center items-center bg-[#F5F5F5] text-[#A9A9A9] cursor-pointer border-b border-primary-content/80"
  >
    <div
      class="flex w-full max-w-full lg:max-w-5xl items-center justify-center gap-2.5 pointer-events-none md:justify-start"
    >
      <CircleArrowUp />
      <h6 class="font-semibold font-serif">Regresar al inicio</h6>
    </div>
  </button>

  <div
    class="w-full max-w-5xl mx-auto px-4 py-10 flex flex-col gap-4 lg:py-8 lg:px-10"
  >
    <div
      class="flex flex-col py-4 gap-4 lg:gap-8 md:items-center md:justify-center"
    >
      <aside class="flex items-center justify-center">
        <p>
          <strong class="text-4xl font-serif text-[#FFCA00] uppercase"
            >{SITE.title}</strong
          >
        </p>
      </aside>

      <div class="flex flex-col gap-4 md:flex-row lg:justify-between w-full">
        <div class="flex flex-col gap-4 w-full lg:w-1/2 lg:gap-8">
          <nav class="flex flex-col gap-2 text-base lg:text-sm font-semibold">
            <p
              class="font-semibold font-serif text-lg border-y border-[#E3E3E4] py-3 w-full text-center md:text-left"
            >
              Nuestras categorías
            </p>
            <div class="flex flex-col gap-2 items-center lg:flex-row lg:items-start lg:flex-wrap lg:gap-6 ">
              {
                NAVIGATION_LINKS.map(({ href, text, target }) => (
                  <a href={href} class="font-normal" target={target ?? "_self"}>
                    {text}
                  </a>
                ))
              }
            </div>
          </nav>

          <nav class="flex flex-col gap-2 text-base lg:text-sm font-semibold">
            <p
              class="font-semibold font-serif text-lg border-y border-[#E3E3E4] py-3 w-full text-center md:text-left"
            >
              Enlaces de interés
            </p>
            <div class="flex flex-col items-center gap-2 lg:flex-row lg:items-start lg:gap-6 ">
              {
                SCOPE_LINKS.map(({ href, text, target }) => (
                  <a href={href} class="font-normal" target={target ?? "_self"}>
                    {text}
                  </a>
                ))
              }
              <span class=" hidden font-normal lg:flex ">|</span>
              {
                OTHER_LINKS.map(({ href, text, target }) => (
                  <a href={href} class="font-normal" target={target ?? "_self"}>
                    {text}
                  </a>
                ))
              }
            </div>
          </nav>
        </div>

        <div class="flex flex-col gap-2 text-base lg:text-sm font-semibold items-center md:items-start">
          <p
            class="font-semibold font-serif text-lg border-y border-[#E3E3E4] py-3 w-full text-center md:text-left"
          >
            Diario Amanecer
          </p>

          <p class="font-normal max-w-[200px] w-full text-center md:text-left">
            Una propuesta de prensa escrita desde el Alto Mayo para toda la
            región San Martín
          </p>
        </div>

        <nav class="flex flex-col items-center gap-2 text-base lg:text-sm font-light md:items-start">
          <p
            class="font-semibold font-serif text-lg border-y border-[#E3E3E4] py-3 w-full text-center md:text-left"
          >
            Contacto
          </p>
          <div class="flex flex-col gap-4 items-center md:items-start">
            <a
              class="font-normal flex gap-2"
              href=`https://wa.me/${COMPANY_DATA.contact.Whatsapp}`
              target="_blank"
            >
              <Whatsapp />
              {`+${COMPANY_DATA.contact.Whatsapp.slice(0,2)}
               ${COMPANY_DATA.contact.Whatsapp.slice(2,5)} 
               ${COMPANY_DATA.contact.Whatsapp.slice(5,8)} 
               ${COMPANY_DATA.contact.Whatsapp.slice(8,11)}`}
            </a>
            <a class="font-normal flex gap-2" href=`mailto:${COMPANY_DATA.contact.email}`>
              <Mail />
              {COMPANY_DATA.contact.email}
            </a>
            <a
              class="font-normal flex gap-2"
              href={COMPANY_DATA.contact.address.link}
              target="_blank"
              >
              <Location />
              {COMPANY_DATA.contact.address.text}
            </a>
          </div>
        </nav>
      </div>

      <div class="flex flex-col items-center mt-4 gap-4 md:items-start">
        <p class="font-bold text-lg lg:text-center font-serif">Visítanos en:</p>
        <ul class="flex gap-4">
          {
            SOCIAL_LINKS.map(({ href, icon, text, target }) => (
              <li>
                <a
                  href={href}
                  class="link link-hover"
                  target={target ?? "_blank"}
                  title={text}
                  aria-label={text}
                >
                  <Icon icon={icon} />
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>

    <div
      class="flex flex-col border-t border-[#E3E3E4] py-3 items-center justify-center"
    >
      <p class="font-serif text-center">
        © 2025 Diario Amanecer. Todos los derechos reservados.
      </p>
    </div>
  </div>
  <span class="absolute bottom-4 right-4 font-[sans-serif] text-xs font-light text-[#757575]"
    >Desarrollo: <a
      href="https://digitaltangarana.com"
      class="hover:text-[#fda260] active:text-[#FF7A1C] text-[#FF7A1C] transition-all"
      target="_blank"
      rel="opener referer"
    >
      Digital Tangarana</a
    ></span
  >
</footer>
