---
import { Image, Picture } from "astro:assets";
import { formatDate } from "@/lib/utils/date";
import ResourcesAdd from "@/assets/svgs/resources-add.astro";
import Time04 from "@/assets/svgs/time-04.astro";
import Calendar04 from "@/assets/svgs/calendar-04.astro";
import Divider from "@/components/bases/divider.astro";
import { categoriesHandler } from "@/lib/handlers/categories";
// import { authorsHandler } from "@/lib/handlers/authors";
import Share from "@/components/elements/share.astro";
import type { Article, Category } from "@/lib/types";
import imageNotFound from "src/assets/images/404.webp";
import { decode } from "html-entities";
import { SITE } from "@/lib/config";

type Props = {
  article: Article;
};

const { article } = Astro.props;
const category: Category = categoriesHandler.oneCategory(article.categories[0]);

---

<section
  class="mb-8 flex flex-col border-b border-b-base-300 lg:border-none pb-4 pt-0 lg:pt-6"
>
  <div
    class="container px-0 lg:px-4 max-w-5xl aspect-[20/9] lg:mt-4 overflow-hidden"
  >
    <h1 class="text-3xl lg:text-4xl font-bold text-left text-pretty" set:html={article.title.rendered}></h1>
    <Picture
      src={article._embedded["wp:featuredmedia"]?.[0]["source_url"] || imageNotFound}
      alt={decode(String(article.title.rendered))}
      width={976}
      height={549}
      layout="full-width"
      loading={"eager"}
      formats={["avif", "webp"]}
      class="w-full h-full object-cover"
    />
  </div>
  <div class="container my-4 max-w-5xl lg:hidden flex items-center gap-2">
    <ResourcesAdd size="16" />
    <a href={`/categories/${category.slug}`} class="a-01 font-semibold"
      >{category.name}</a
    >
  </div>
  <div class="container max-w-5xl">
    <div class="flex flex-col gap-4 items-start mt-2 lg:mt-6 text-sm">
      <div class="text-base-content/70 flex items-center gap-2">
        <span class="flex items-center gap-1">
          <Calendar04 size="15" />
          <time class="hidden lg:block" datetime={article.date}
            >{formatDate(article.date, "short")}
          </time>
          <time class="block lg:hidden" datetime={article.date}
            >{formatDate(article.date, "short")}</time
          >
        </span>
        <Divider />
        <span class="text-primary dark:text-secondary">{SITE.author}</span>
        
      </div>
      <Share text={decode(String(article.title.rendered))} />
      <div class="w-full flex flex-wrap gap-2 items-center justify-between">
        <div class="flex flex-wrap gap-4">
        </div>
      </div>
    </div>
  </div>
</section>
