---
import type { Article, Category } from "@/lib/types";
import imageNotFound from "src/assets/images/404.webp";
import { formatDateTime } from "@/lib/utils/date";

type Props = {
  article: Article;
  taxonomy?: "category" | "scope" ;
};

const { article, taxonomy="category" } = Astro.props as Props;
const linkArticle = taxonomy === "scope" ? `/${article.ambito.slug}/${article.slug}` : `/${article.category.slug}/${article.slug}`;
---

<article class="group relative isolate flex flex-col md:flex-col gap-5 ">
  <div class="flex bg-cover rounded-md">
    <img
      src={article.media.full || imageNotFound.src}
      alt={article.media.alt}
      width={720}
      height={430}
      loading="eager"
      draggable="false"
      class="rounded-sm"
    />
  </div>
  <div class="flex flex-col gap-3">
    <div class="flex flex-col gap-4">
      <h2
        class="text-[2rem] font-serif font-semibold leading-8 lg:group-hover:underline underline-offset-2 line-clamp-3"
      >
        <a
          href={linkArticle}
          title={article.title}
        >
          {article.title}
        </a>
      </h2>
      <span
        class="text-base font-sans text-[#505050] line-clamp-3"
        set:html={article.excerpt.rendered}
      />
    </div>
    <div class="flex text-xs items-center gap-2">
      <span
        class="flex px-1.5 py-0.5 rounded-md font-semibold uppercase text-[#10477C] bg-[#FBC208]"
        >{article.category.name}</span
      >
      <span class="flex gap-1 text-[#10477C]">
        <span>{formatDateTime(article.date)}</span>
        |
        <span>Diario Amanecer</span>
      </span>
    </div>
  </div>
</article>
