---
import { Image } from "astro:assets";
import Divider from "@/components/bases/divider.astro";
import { categoriesHandler } from "@/lib/handlers/categories";
import { formatDateTime } from "@/lib/utils/date";
import imageNotFound from "src/assets/images/404.webp";
import type { Article } from "@/lib/types";
import { decode } from "html-entities";


type Props = {
  article: Article;
};

const { article } = Astro.props;
const category = categoriesHandler.oneCategory(article.categories[0]);
---

<article class="group relative isolate flex flex-col md:flex-col gap-5 py-6">
  <div class="flex bg-cover rounded-md">
    <Image
    src={article._embedded["wp:featuredmedia"]?.[0]["source_url"] || imageNotFound}
    alt={decode(String(article.title.rendered))}
    width={630}
    height={620}
    layout="responsive"
    loading={"eager"}
    />
  </div>
  <div class="flex flex-col gap-3">
    <div>
      <h2
        class="text-xl font-semibold lg:group-hover:underline underline-offset-2 "
      >
        <a href={`/${category.slug}/${article.slug}`} title={decode(String(article.title.rendered))}>
          {decode(String(article.title.rendered))}
        </a>
      </h2>
      <span class=" text-base max-w-lg text-[#FBC208] "
        set:html={article.excerpt.rendered}
        >        
      </span>
    </div>
    <div class="flex items-center text-xs text-base-content/80">
      <span class="px-1.5 mx-2 text-[#10477C] bg-[#FBC208] rounded-md dark:text-secondary">{category.name}</span
      >
      <Divider />
      <span>{formatDateTime(article.date)}</span> 
      <Divider />
      <span class="text-[#10477C]">Diario Amanecer</span> 
    </div>
  </div>
</article> 
