---
import { formatDateTime } from "@/lib/utils/date";
import imageNotFound from "src/assets/images/404.webp";
import type { Article } from "@/lib/types";
import BigArticleCard from "./bigArticleCard.astro";

type Props = {
  articles: Article[];
};

const { articles } = Astro.props;

const bigArticle = articles[0];
const smallArticles = articles.slice(1, 3);

---

<BigArticleCard article={bigArticle} />
<div class="grid sm:grid-cols-2 gap-6  mt-6">
  {
    smallArticles.map((article) => (
      <article class="group py-2 flex flex-col items-stretch gap-2 group relative isolate">
        <div class="overflow-hidden  shrink-0">
          <img
            src={article.media.medium || imageNotFound.src }
            alt={article.media.alt}
            loading="eager"
            draggable="false"
            class="object-cover rounded-sm w-full h-full"
            width={600}
            height={380}
          />
        </div>
        <div class="flex flex-col flex-1 gap-4">
          <div class="flex items-center gap-2 mb-1">
            <div class="flex-1">
              <h3 class="text-xl font-semibold lg:group-hover:underline line-clamp-2">
                <a
                  class=""
                  href={`/${article.category.slug}/${article.slug}`}
                  title={article.title}
                >
                  {article.title}
                </a>
              </h3>
            </div>
          </div>

          <div class="flex text-xs items-center gap-2">
            <span class="flex px-1.5 py-0.5 rounded-md font-semibold uppercase text-[#10477C] bg-[#FBC208]">
              {article.category.name}
            </span>
            <span class="flex gap-1 text-[#10477C]">
              <span>{formatDateTime(article.date)}</span>|
              <span>Diario Amanecer</span>
            </span>
          </div>
        </div>
      </article>
    ))
  }
</div>
