---
import { formatDateTime} from "@/lib/utils/date";
import Divider from "../bases/divider.astro";
import type { Article } from "@/lib/types";
import imageNotFound from "../../assets/images/404.webp";
import { SITE } from "@/lib/config";

type Props = {
  article: Article;
  isLast: boolean;  
  taxonomy?: "category" | "scope" ;
};

const { article, isLast, taxonomy="category" } = Astro.props;
const linkArticle = taxonomy === "scope" ? `/${article.ambito.slug}/${article.slug}` : `/${article.category.slug}/${article.slug}`;
---

<li
  class="group w-full max-w-md mx-auto lg:max-w-full relative isolate flex flex-col "
>
  <div
    class:list={[
      "flex flex-col gap-4 lg:flex-row lg:gap-4 lg:py-2",
      isLast ? "border-b-0" : "border-b border-base-300",
    ]}
  >
    <div class="flex w-full aspect-[5/3] lg:w-[282px] lg:min-w-[282px] lg:aspect-[47/28]">
      <img
        src={article.media.medium || imageNotFound.src}
        alt={article.media.alt}
        width={282}
        height={168} 
        loading={"eager"}
        draggable="false"
        class="object-cover rounded-[2px] w-full h-full !max-w-none !max-h-none "
      />
    </div>
    <div class="flex flex-col gap-4 justify-center " >
      <div class="flex flex-col gap-2   ">
        <h3 class="text-xl font-semibold text-[#081423] line-clamp-2 lg:group-hover:underline">
          <a href={linkArticle} title={article.title}>
            {article.title}
          </a>
        </h3>
        <div class="text-[#5B5B5B]  font-light text-pretty line-clamp-2" set:html={article.excerpt.rendered} >   </div>
      </div>

      <div class="flex items-center text-[#0E4F8F] text-xs">
        <span class="flex min-h-[18px] items-center text-[#10477C] font-medium dark:text-secondary px-2.5 mr-[4px] bg-[#FBC208] min-h[18px] rounded-md">
          {article.category.name}
        </span>
        <span>{formatDateTime(article.date)}</span>
        <Divider />
        <span class=" dark:text-secondary">{SITE.author}</span>
      </div>
    </div>
  </div>
</li>
