---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import { formatDateTime, getDateDistance } from "@/lib/utils/date";
import Divider from "../bases/divider.astro";
import type { Article } from "@/lib/types";
import { format } from "node:path";
import { decode } from "html-entities";
import imageNotFound from "../../assets/images/404.webp";

type Props = {
  categorySlug?: string;
  article: Article;
  isLast: boolean;
};

const { categorySlug, article, isLast } = Astro.props;
---

<li
  class="group w-full max-w-md mx-auto lg:max-w-full relative isolate flex flex-col lg:flex-row gap-4 "
>
  <div
    class="flex-shrink-0 aspect-square w-32 text-sm text-base-content/60 text-pretty capitalize hidden lg:flex pt-1"
  >
    {formatDateTime(article.date)}
  </div>
  <div
    class:list={[
      "flex-1 flex flex-col gap-4 lg:flex-row-reverse pb-2 lg:pb-4",
      isLast ? "border-b-0" : "border-b border-base-300",
    ]}
  >
    <div class="w-full lg:w-60 aspect-video">
      <!-- /*TODO: cambiar width y height */ -->
      <Image
        src={article._embedded["wp:featuredmedia"]?.[0]["source_url"] || imageNotFound}
        alt={decode(String(article.title.rendered))}
        width={800}
        height={450} 
        layout="responsive"
        loading={"eager"}
        class="aspect-video rounded w-full h-full"
      />
    </div>
    <div class="flex-1 space-y-2">
      <h3 class="text-xl font-semibold lg:group-hover:underline">
        <a href={`/${categorySlug}/${article.slug}`} title={decode(String(article.title.rendered))}>
          {article.title.rendered}
        </a>
      </h3>
      <p class="text-base-content/80 max-w-xl text-pretty" set:html={article.excerpt.rendered} >   </p>
    </div>
    <div class="text-sm lg:hidden flex item-center text-base-content/70 pt-2">
      <time
        class="flex items-center gap-1"
        datetime={String(article.date)}
      >
        <span>
          {formatDateTime(article.date)}
        </span>
      </time>
      <Divider />
      <small class="flex items-center gap-1">
        <span class="capitalize text-sm">
          <!-- {article.data.category.id} -->
        </span>
      </small>
    </div>
  </div>
</li>
