---
import BaseLayout from "@/layouts/base.astro";
import { getEntry } from "astro:content";
import PrintEdition from "@/components/widgets/printEdition.astro";
import Check from "@/assets/svgs/check.astro";
import { SITE } from "@/lib/config";
import type { Meta } from "@/lib/types";

const meta : Meta = {
  title: `Contacto - ${SITE.title} `,
  metaTitle: `Contacto - ${SITE.title} `,
  description: `Contacta con  ${SITE.author} , tu fuente local de noticias. Envíanos tus preguntas, sugerencias o inquietudes y estaremos encantados de ayudarte`,
  type: "website",
  ogImage: "/favicon-96x96..png",
  ogImageAlt: `Contacto - ${SITE.title}`,
};

---

<BaseLayout meta={meta}>
  <section class="flex flex-col w-full max-w-5xl mx-auto pt-8 items-center px-4 lg:px-0">
    <span class="flex w-full max-w-[1024px] lg:w-[1024px] border-b-2 border-primary/10 p-1 ">
      <h1 class="text-xl font-medium">Contáctanos</h1>
    </span>
  <div
    class="flex w-full py-6 md:justify-between md:gap-6"
  >
    <form
      class="flex flex-col w-full gap-3 md:py-6 lg:h-[567px]"
      autocomplete="off"
      method="POST"
      action="#"
    >
      <div class="flex flex-col gap-3 md:grid md:grid-cols-2">
        <label
          for="firstName"
          class="flex flex-col gap-3 font-medium text-[#5B5B5B]"
        >
          Nombre *
          <input
            type="text"
            id="firstName"
            name="firstName"
            required
            autocomplete="off"
            class="w-full p-2 border font-light border-[#CACACA] rounded-md text-[#5B5B5B] focus:border-[#1A346B] outline-none"
          />
        </label>

        <label
          for="lastName"
          class="flex flex-col gap-3 font-medium text-[#5B5B5B]"
        >
          Apellido *
          <input
            type="text"
            id="lastName"
            name="lastName"
            required
            autocomplete="off"
            class="w-full p-2 border font-light border-[#CACACA] rounded-md text-[#5B5B5B] focus:border-[#1A346B] outline-none"
          />
        </label>
      </div>

      <label for="email" class="flex flex-col gap-3 font-medium text-[#5B5B5B]">
        Correo *
        <input
          type="email"
          id="email"
          name="email"
          required
          autocomplete="off"
          class="w-full p-2 border font-light border-[#CACACA] rounded-md text-[#5B5B5B] focus:border-[#1A346B] outline-none"
        />
      </label>

      <label for="phone" class="flex flex-col gap-3 font-medium text-[#5B5B5B]">
        Celular *
        <input
          type="tel"
          id="phone"
          name="phone"
          required
          autocomplete="off"
          inputmode="numeric"
          pattern="[0-9]*"
          class="w-full p-2 border font-light border-[#CACACA] rounded-md text-[#5B5B5B] focus:border-[#1A346B] outline-none"
        />
      </label>

      <label
        for="message"
        class="flex flex-col gap-3 font-medium text-[#5B5B5B]"
      >
        Mensaje *
        <textarea
          id="message"
          name="message"
          rows="4"
          required
          autocomplete="off"
          class="w-full p-2 border font-light lg:h-[179px] border-[#CACACA] rounded-md text-[#5B5B5B] focus:border-[#1A346B] outline-none"
        ></textarea>
      </label>

      <label for="terms" class="flex items-center py-3 cursor-pointer">
        <input
          type="checkbox"
          name="terms"
          id="terms"
          class="peer hidden"
          required
        />
        <span
          class="w-6 h-6 border border-[#e3e3e4] rounded-md mr-2 flex items-center justify-center transition-all duration-200 peer-checked:bg-[#1A346B] peer-checked:border-[#1A346B]"
        >
        <div class="text-white">
          <Check />
        </div>
        </span>
        <span class="text-[#5B5B5B] font-light">
          Acepto las 
            políticas de privacidad y uso de datos.
        </span>
      </label>

      <button
        type="submit"
        class="w-full py-2.5 rounded-full font-medium transition-all bg-[#105eac] text-white hover:bg-[#1A346B]"
      >
        Enviar Mensaje
      </button>
    </form>

    <div class="hidden md:flex py-6 max-w-[400px] h-auto">
      <PrintEdition />
    </div>
  </div>
</section>
</BaseLayout>
