---
import WideCard from "@/components/cards/wideCard.astro";
import LisLayout from "@/layouts/list.astro";
import { categoriesHandler } from "@/lib/handlers/categories";
import { searchHandler } from "@/lib/handlers/search";
import type { Meta } from "@/lib/types";
import "@pagefind/default-ui/css/ui.css";

const url = new URL(Astro.request.url);
const query = url.searchParams.get("q");
const type = url.searchParams.get("t");

const searchArticles = query ? await searchHandler.searchArticles(query) : [];

if (type) {
  return new Response(JSON.stringify(searchArticles), {
    status: 200,
    headers: {
      "Content-Type": "application/json",
    },
  });
}

const title = `Resultados para: ${query}`;

const meta: Meta = {
  title: "",
  metaTitle: "",
  description: "",
  type: "website",
  ogImage: "",
  ogImageAlt: "",
};
---

<LisLayout meta={meta} headerTitle={title} type="search" >
  <div class="flex justify-start lg:w-[1024px] max-w-[1024px] ">
    {searchArticles.length !== 0 
      ? (
      <ul class="flex flex-col max-w-[733px] gap-5 flex-1 ">
        {
          searchArticles.map((article) => {
            const category = categoriesHandler.oneCategory(article.categories[0]);

            return (
              <WideCard
              category={category}
              article={article}
              isLast={searchArticles.lastIndexOf(article) === searchArticles.length - 1}
              />
            )
          })
        }
      </ul>
      
      <div class="flex " ></div>
      )
      :(
        <span>Sin resultados</span>
      )
      }
      </div>
</LisLayout>



<!-- <BaseLayout meta={meta}>
  <div class="container py-4">
    <script is:inline src="/pagefind/pagefind-ui.js"></script>

    <div id="search"></div>

    <script>
      const initializePagefind = () => {
        // Remove any existing Pagefind UI elements to avoid duplicates
        const existingSearchUI = document.querySelector(".pagefind-ui");
        if (existingSearchUI) {
          existingSearchUI.remove();
        }

        // Import dynamically to ensure proper re-initialization
        // @ts-expect-error
        import("@pagefind/default-ui")
          .then(({ PagefindUI }) => {
            new PagefindUI({
              element: "#search",
              showSubResults: true,
              showImages: false,
              autofocus: true,
            });

            const el = document.querySelector(".pagefind-ui");
            const input =
              el?.querySelector<HTMLInputElement>(`input[type="text"]`);
            const clearButton = el?.querySelector(".pagefind-ui__search-clear");
            const url = new URL(window.location.href);
            const params = new URLSearchParams(url.search);
            const query = params.get("q");

            if (clearButton) {
              clearButton.textContent = "✖ Clear";
            }
            if (query && input) {
              input.value = query;
              input.dispatchEvent(new Event("input", { bubbles: true }));
            }

            input?.addEventListener("input", (e) => {
              const input = e.target as HTMLInputElement;
              const url = new URL(window.location.href);
              const params = new URLSearchParams(url.search);
              params.set("q", input.value);
              window.history.replaceState({}, "", `${url.pathname}?${params}`);
            });

            clearButton?.addEventListener("click", () => {
              const url = new URL(window.location.href);
              const params = new URLSearchParams(url.search);
              params.delete("q");
              window.history.replaceState({}, "", `${url.pathname}`);
            });
          })
          .catch(console.error);
      };

      document.addEventListener("astro:page-load", () => {
        initializePagefind();
      });
    </script>
  </div>
</BaseLayout>

<style is:inline>
  :root {
    --pagefind-ui-scale: 0.9;
    --pagefind-ui-primary: oklch(var(--p));
    --pagefind-ui-text: oklch(var(--bc));
    --pagefind-ui-background: oklch(var(--b1));
    --pagefind-ui-border: oklch(var(--b2));
    --pagefind-ui-tag: oklch(var(--b2));
    --pagefind-ui-border-width: 2px;
    --pagefind-ui-border-radius: 8px;
    --pagefind-ui-image-border-radius: 8px;
    --pagefind-ui-image-box-ratio: 3 / 2;
    --pagefind-ui-font: var(--font-sans);
  }
</style> -->
